<div class="navbar navbar-default navbar-fixed-top komp-navbar">
    <div>@Html.ActionLink("KOM-P", "Index", "Home", new { area = "" }, new { @class = "navbar-logo" })</div>
    <ul class="nav-wrapper float-left">
        @if (ViewData["Admin"] != null)
        {
            <li>
                @Html.ActionLink("Zarządzaj produktami", "Index", "ProductsAdmin")
            </li>
            <li>
                @Html.ActionLink("Zarządzaj zamówieniami", "Index", "OrdersAdmin")
            </li>
            <li>
                @Html.ActionLink("Zarządzaj użytkownikami", "Index", "UsersAdmin")
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Procesory", "Index", "Categories", new { id = 5 })
            </li>
            <li>
                @Html.ActionLink("Karty Graficzne", "Index", "Categories", new { id = 6 })
            </li>
            <li>
                @Html.ActionLink("Płyty Główne", "Index", "Categories", new { id = 7 })
            </li>
            <li>
                @Html.ActionLink("PROMOCJE", "Promo", "Categories")
            </li>
        }
    </ul>
    <ul class="nav-wrapper float-right">
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                @Html.ActionLink("Witaj "+@Html.Raw(User.Identity.Name), "Details", "User")
            </li>
            @if (User.Identity.Name.Equals("Admin"))
            {
                <li>
                    @Html.ActionLink("Panel Administratora", "Index", "AdminPanel")
                </li>
            }
            <li>
                @Html.ActionLink("Wyloguj", "SignOut", "User")
            </li>
        }
        else
        {
            if(ViewData["Language"] != null)
            {
                <li>
                    @Html.ActionLink(ViewData["Language"].ToString(), "ChangeLanguage", "Home")
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("DUPA", "ChangeLanguage", "Home")
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "Cart")">
                    <i class="fas fa-shopping-cart"></i>&nbsp;
                </a>
            </li>
            <li>
                @Html.ActionLink("Zaloguj się", "SignIn", "User")
            </li>
            <li>
                @Html.ActionLink("Zarejestruj się", "SignUp", "User")
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>