@model KOM_P.Controllers.ProductsController.DetailsViewModel

@{
    ViewData["Title"] = Model.product.Name;
}

<div class="product-details-wrapper">
    <div class="product-image-details"><img src="@Html.Raw(Model.productLink)" alt="Zdjęcie" class="product-image-full" /></div>
    <div class="product-desc">
        <p>Nazwa produktu: @Html.DisplayFor(model => model.product.Name)</p>
        <p class="SKU">SKU: @Html.DisplayFor(model => model.product.SKU)</p>
        <p>Data wydania: @Html.DisplayFor(model => model.dateOfAdding)</p>
        <p>Price: @Html.DisplayFor(model => model.product.Price)&nbsp;zł</p>
        <button class="btn add-to-cart-btn effect01">Dodaj do koszyka</button>
    </div>
    <div style="clear:both;"></div>
</div>
<div>
    <div style="padding-left:20px;padding-right:20px;" class="float-left">@Html.ActionLink("Wróć do kategorii", "Index", "Categories", new { id = Model.product.CategoryId }, new { @class = "btn add-to-cart-btn effect01" })</div>
    <div class="float-left">@Html.ActionLink("Wróć do strony głównej", "Index", "Home", new { } ,new { @class = "btn add-to-cart-btn effect01" , @style = "max-width:300px;"})</div>
    <div style="clear:both;"></div>
</div>
